@import 'nib'

dkgrey= #222
ltgrey= #a6a6a6
grey= #515151

firstColor= #00b4ff
secondColor= #66CCFF
thirdColor= #8DFF1F
fourthColor= #EE3D40
fontOpenSans= 'Open Sans', Helvetica, Helvetica Neue, Arial
fontArchivoNarrow= 'Archivo Narrow', Helvetica, Helvetica Neue, Arial, sans-serif
fontArchivoBlack= 'Archivo Black', Helvetica, Helvetica Neue, Arial



.footer-container
  border-top 20px solid firstColor

nav a:active, nav a.active
#about:target ~ div nav #link-about
#projects:target ~ div nav #link-projects
#skills:target ~ div nav #link-skills
#hire:target ~ div nav #link-hire
  background firstColor


#home
  margin-top: 220px

.line
    position: absolute
    width 100%
    background dkgrey
    top 0
    left 0
    line-height 0.2em

  
nav
  a
    display block
    margin-bottom 10px
    padding 15px 0
    text-align center
    text-decoration none
    font-weight bold
    color white
    background #191919
    &:hover
      text-decoration none
      background-color firstColor
    &:active
      background: firstColor
      background-color firstColor
  ul
    margin 0
    padding 0

html,
button,
input,
select,
textarea
  color dkgrey

html
  background url(../images/bg.jpg) #f5f5f5

body
  font-size 1em
  line-height 1.4
  font 16px/26px
  font-family fontOpenSans
  font-smoothing antialiased

::-moz-selection
  background secondColor
  text-shadow none

::selection
  background secondColor
  text-shadow none

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

img
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical


h1,h2,h3,h4
  font-family  fontArchivoNarrow
  font-weight 500

section
  display block
    

.header-container
.main-container
  text-shadow 0 1px 1px rgba(255,255,255,.3)

.wrapper
  width 90%
  margin 0 5%

.title
  color white
  padding-left: 25px


.main
  article
    h1
      font-size 2em
 

.footer-container
  background dkgrey
  display block
  footer
    color white
  a
    color white
    text-decoration none
  .right
    float none



  


.ie7
  .title
    padding-top 20px

.ir
  background-color transparent
  border 0
  overflow hidden
  *text-indent -9999px
  &:before
    content ""
    display block
    width 0
    height 150%

.hidden
  display none !important
  visibility hidden

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix
  *zoom 1
  &:after
    clear both

.right
  float right


@media only screen and (min-width: 480px)
  #home
    margin-top: 80px

  nav
    a
      float left
      width 18%
      margin 0 1.7%
      padding 25px 2%
      margin-bottom 0
      text-decoration none
    li
      &:first-child
        a
          margin-left 0
      &:last-child
        a
          margin-right 0
    ul
      li
        display inline

  .oldie
    nav
      a
        margin 0 0.7%


@media only screen and (min-width: 760px) 

  #home
    padding-top 0px
    padding-bottom 0px
    margin-top: 0px

  .top
    display none

  .footer-container
    .right
      float right
  
  @media (min-height: 600px)
    .line
      position: fixed
      width 100%
    .footer-container
      position absolute
      width 100%
      bottom 0
      line-height 1em
      position fixed
    .panel
      padding-top 60px
      padding-bottom 100px


  .panel
    z-index 2
    min-width 100%
    display none
    min-height: 1000px
    &:target
      display block


  .header-container
    border-bottom: 5px solid ltgrey
    height 1000px
    background url('../images/home.jpg') top center no-repeat
    text-align right
  
  .vcard
    display inline
    box-sizing border-box
    width 300px
    height 200px
    border-radius 6px
    background firstColor
    box-shadow 1px 2px 5px  rgba(0,0,0,.50), inset 0 0 20px rgba(0,0,0,.25)
    transform rotate(-10deg)
    line-height 1.5em
    font-family fontOpenSans
    float right
    position absolute
    right 25px
    bottom 100px
    span
      font-weight bold
    a
      text-decoration none
      color dkgrey
      font-size 24px
      line-height 1.5em

  .vcard-top
    height 65px
    padding-top 5px
    color #fff
    text-transform uppercase
    text-align center
    line-height 0.2em
    font-weight 500
    font-family fontArchivoBlack

  
  .fn
    background #fff
    height 120px
    text-align center
    padding-top 5px

 
  .title
    float left

  nav
    float right
    width 65%
    li
      a
        transition all 0.4s ease-in-out



@media only screen and (min-width: 1140px)
  .wrapper
    width 1026px
    margin 0 auto

@media print
  *
    background transparent !important
    color #000 !important
    box-shadow none !important
    text-shadow none !important

  a,
      a:visited
    text-decoration underline

  a[href]:after
    content " (" attr(href) ")"

  abbr[title]:after
    content " (" attr(title) ")"

  .ir a:after,
       a[href^="javascript:"]:after,
       a[href^="#"]:after
    content ""

  pre,
      blockquote
    border 1px solid #999
    page-break-inside avoid

  thead
    display table-header-group

  tr,
      img
    page-break-inside avoid

  img
    max-width 100% !important

  @page
    margin 0.5cm

  p,
      h2,
      h3
    orphans 3
    widows 3

  h2,
      h3
    page-break-after avoid




  

