#timeline{
  margin: 20px auto;
  overflow: hidden;
  
  .timeslot{
    border-bottom: 3px solid @gray-lighter;
    padding-top: 10px;
    padding-left: 5px;
  }

  .year{
    padding-top: 10px;
    font-size: 2em;
    color: @brand-primary;
  }

  .project{
    padding-bottom: 20px;
    p{
      margin: 5px 0 0 0;
    }
    .name{
      font-size: 1.5em;
    }
  }

  .label{
    color: @label-color;
    background: @gray-light;
    float: right;
    display: inline;
    margin-right: 5px;
    padding: .2em .4em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    transform: rotate(-10deg);
  }
}

@media only screen and (min-width: 760px){
  #timeline{
    .timeslot{
      padding-left: 130px;
      position: relative;
      border-left: none;
    }
    .year{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100px;
      border-right: 3px solid @brand-primary;
    }
  }
}
