.vcard
	.vcard-top
		h1 Hello
		p my name is
	.fn
		a.given-name(href='#hire') Christian Fehmer
		p 	
			| I'm a passionate 
			span.category software engineer
			|  
			| from 
			| 
			span.locality Cologne
			| , 
			span.country-name Germany

.start
	.start-center
		a(href='#about')
			.start-circle
			.start-arrow.glyphicon.glyphicon-chevron-down
